@tailwind base;
@tailwind components;
@tailwind utilities;  

body,
.light {
  --bg-color: #ffffff;
  --text-color: #333333;
}

/* Dark mode styles */
.dark {
background-color: #333333;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}